div.collection.card {
  width: 80vw;
  height: 80vh;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
  flex-wrap: wrap;
  padding: 30px;
  overflow: auto;
  .game-pic {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    // transition: all 0.3s;
    margin: 20px;
    &.amplifyed {
      width: 80vw;
      height: 70vh;
      background-size: contain;
      background-repeat: no-repeat;
      top: 0;
    }
    &.hide {
      width: 0;
      height: 0;
      margin: 0;
    }
  }
}
