
div.init.card {
  position: absolute;
  display: flex;
  opacity: 0;
  left: 0;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  font-size: large;
  letter-spacing: 4px;
  top: 30%;
  .keyword-setting {
    display: flex;
    align-items: center;
    margin-top: $space-wide;
    input {
      width: 100px;
      height: $space-wide;
      margin: 0 2px;
      font-size: large;
      text-align: center;
      border: 0;
      outline: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.7);
      color: rgb(0, 0, 0);
      &:focus-visible {
        border-bottom: 2px solid $pink;
      }
    }
  }
  .tips {
    color: $pink;
    margin-top: calc($space-wide / 2);
    font-size: small;
    animation: blink 3s infinite;
  }
  .next {
    cursor: pointer;
    background-color: $pink;
    color: white;
    border-radius: 4px;
    padding: 2px 20px;
    margin-top: $space-wide;
    &:hover {
      background-color: $pink-light;
      transition: all 0.1s;
    }
  }

}
