$blue: #00aeec;
$pink: #fb7299;
$pink-light: #ff74a5;
$black: #1d2129;
$card-background: rgba(255, 255, 255, 0.6);
$space-wide: 30px;
$dialogue-bg-color: rgba(255, 255, 255, 0.5);
$dialogue-width: 100vw;
$dialogue-height: 30vh;
$dialogue-space-normal: 20px;
$dialogue-space-wider: 50px;
$text-shadow-default: -1px -1px 1px #000,
              1px -1px 1px #000,
              -1px 1px 1px #000,
              1px 1px 1px #000;
@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.default-bg {
  background-image: url('/default-bg.jpeg');
  background-size: cover;
}

.page-changing {
  background-color: white;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -9999;
  position: absolute;
  transition: opacity 0.5s;
  &.show {
    opacity: 1;
    z-index: 9999;
  }
}
.card-changing {
  opacity: 1;
  transition: opacity 1s;
}

.show {
  opacity: 1 !important;
  z-index: 999;
}
