@import './style/variable.scss';
@import './style/components/init.scss';
@import './style/home.scss';
@import './style/dialogues.scss';
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
body, #root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #1d2129;
}
