@import './style/variable.scss';
@import './style/init.scss';
@import './style/home.scss';
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
body, #root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  .dialogue-box {
    width: $dialogue-width;
    height: $dialogue-height;
    position: absolute;
    bottom: $dialogue-space-normal;
    background-color: $dialogue-bg-color;
    .dialogue {
      border: 2px solid white;
      margin: $dialogue-space-normal;
      height: calc($dialogue-height - $dialogue-space-normal * 4);
      color: white;
      text-shadow: $text-shadow-default;
      text-align: left;
      padding: $dialogue-space-normal $dialogue-space-wider;
      font-size: 20px;
      letter-spacing: 2px;
      overflow-y: scroll;
    }
    .setting {
      // &::after {
      //   content: '>';
      //   display: inline-block;
      //   position: absolute;
      // }
    }
  }
  .bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}
.choices-modal {
  width: 100vw;
  position: absolute;
  bottom: 50%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .choice {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    min-height: 20vh;
    width: 50vw;
    justify-content: center;
    color: white;
    text-shadow: $text-shadow-default;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
      transition: all 1s;
    }
  }
}
